@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mersad Berber Art</h1>
    <p class="lead">In the Game Store, you can find only the best games on the market as soon as they're published, all under fair price. </p>
    <p>@Html.ActionLink("Shop »", "Index", "Shop", null, htmlAttributes: new {@class = "btn btn-primary btn-large" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paintings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <img src="~/images/arts/test-art-1.jpg" style="width: 100%; object-fit: cover; " /><br /><br />
        <p>@Html.ActionLink("Paintings »", "Index", "Shop", new { artType = ArtTypeEnum.Painting }, htmlAttributes: new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Prints</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <img src="~/images/arts/test-art-2.jpg" style="width: 100%; object-fit: cover; " /><br /><br />
        <p>@Html.ActionLink("Prints »", "Index", "Shop", new { artType = ArtTypeEnum.Print }, htmlAttributes: new {@class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>Gold Plating</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <img src="~/images/arts/test-art-3.jpg" style="width: 100%; object-fit: cover; " /><br /><br />
        <p>@Html.ActionLink("Gold Plating »", "Index", "Shop", null, htmlAttributes: new {@class = "btn btn-primary" })</p>
    </div>

@*    <div class="col-md-4">
        <h2>Paintings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="col-md-4">
        <h2>Prints</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>
    <div class="col-md-4">
        <h2>Gold Plating</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-md-4">
        <img src="~/images/arts/test-art-1.jpg" style="width: 100%; object-fit: cover; " /><br /><br />
        <p>@Html.ActionLink("Action games »", "Index", "Shop", new { gameGenre = "Action" }, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <img src="~/images/arts/test-art-2.jpg" style="width: 100%; object-fit: cover; " /><br /><br />
        <p>@Html.ActionLink("RPG games »", "Index", "Shop", new { gameGenre = "Action RPG" }, htmlAttributes: new {@class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <img src="~/images/arts/test-art-3.jpg" style="width: 100%; object-fit: cover; " /><br /><br />
        <p>@Html.ActionLink("RPG games »", "Index", "Shop", new { gameGenre = "Action RPG" }, htmlAttributes: new {@class = "btn btn-default" })</p>
    </div>*@
</div>