@model MersadBerberArt.Models.ArtDisplayViewModel

@{
    ViewData["Title"] = "Delete Art";
}

<h1>Delete @Html.DisplayFor(model => model.Name)?</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ArtType)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ArtType)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateCreated)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DateCreated)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </form>
            <br />
        </div>
        <div class="col-md-8">
            <img src="~/images/arts/@Html.DisplayFor(model => model.ImageUrl)" class="card-img" />
        </div>
    </div>
</div>
