@model MersadBerberArt.Models.ArtDisplayViewModel

@{
	ViewData["Title"] = "Art Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
	<hr />
	<div class="row">
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.ArtType)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ArtType)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Description)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Description)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateCreated)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DateCreated)</dd>
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Price)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Price)</dd>
            </dl>
            @Html.ActionLink("Add to cart", "AddToCart", "Shop", new { id = Model.Id }, new { @class = "btn btn-info btn-md" })
            @Html.ActionLink("Back to List", "Index", ViewData["ViewedFrom"].ToString(), new { id = Model.Id }, new { @class = "btn btn-secondary btn-md" })
            <br /><br />
        </div>
        <div class="col-md-8">
            <img src="~/images/arts/@Html.DisplayFor(model => model.ImageUrl)" class="card-img" />
        </div>
    </div>
</div>
