@model IEnumerable<MersadBerberArt.Models.ArtDisplayViewModel>

@{
    ViewData["Title"] = "Manage Art";
}

<h1>Manage Art</h1>

<nav>
    @using (Html.BeginForm("Index", "Art", FormMethod.Get))
    {
        <div class="col-sm-2 d-inline-block">
            <label class="form-label mt-4">Art Type: </label>
            @Html.DropDownList("ArtTypeId", ViewBag.ArtTypes, "", new { @class = "form-control input-sm" })
        </div>
        <div class="col-sm-2 d-inline-block" style="margin-left: 10px">
            <label class="form-label mt-4">Name: </label>
            @Html.TextBox("SearchString", null, new { @class = "form-control input-sm" })
        </div>
        <p></p>
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Search</button>
            @Html.ActionLink("Clear", "Index", "Art", null, new { @class = "btn btn-secondary btn-md" })
        </div>
    }
</nav>

<p></p>
<p>@Html.ActionLink("Create New", "Create", "Art", null, new { @class = "btn btn-success btn-md" })</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-md-2">Image</th>
            <th class="col-md-2">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="col-md-1">@Html.DisplayNameFor(model => model.ArtType)</th>
            <th class="col-md-3">@Html.DisplayNameFor(model => model.Description)</th>
            <th class="col-md-1">@Html.DisplayNameFor(model => model.DateCreated)</th>
            <th class="col-md-1">@Html.DisplayNameFor(model => model.Price)</th>
            <th class="col-md-1">@Html.DisplayNameFor(model => model.ImageUrl)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="col-md-2"><img src="~/images/arts/@item.ImageUrl" class="card-img" /></td>
            <td class="col-md-2">@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.ArtType)</td>
            <td class="col-md-3">@Html.DisplayFor(modelItem => item.Description)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.DateCreated)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.Price)</td>
            <td class="col-md-1">@Html.DisplayFor(modelItem => item.ImageUrl)</td>
            <td class="col-md-1">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br />
                @Html.ActionLink("Details", "Details", new { id = item.Id, viewedFrom = "Art" }, null) <br />
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
