@model ArtSearchResult

@{
    ViewData["Title"] = "Manage Arts";
}

<h1>Manage Arts</h1>

@using (Html.BeginForm("Index", "Art", FormMethod.Get))
{
    <div class="col-sm-2 d-inline-block">
        <label class="form-label mt-4">Art Type: </label>
        @Html.DropDownList("ArtTypeId", Model.ArtTypes, "", new { @class = "form-control input-sm" })
    </div>
    <div class="col-sm-2 d-inline-block" style="margin-left: 10px">
        <label class="form-label mt-4">Name: </label>
        @Html.TextBox("SearchString", null, new { @class = "form-control input-sm" })
    </div>
    <p></p>
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Search</button>
        @Html.ActionLink("Clear", "Index", "Art", null, new { @class = "btn btn-secondary btn-md" })
        @Html.ActionLink("Create New", "Create", "Art", null, new { @class = "btn btn-success btn-md" })
    </div>

    <p></p>

    <input type="hidden" id="PageIndex" name="PageIndex" value="1" />
    <div>
        <ul class="pagination">
            @{
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(1)">First</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex - 1))">Previous</button>
                </li>

                if (Model.PaginationData.PageCount == 0)
                {
                    <li class="page-item active">
                        <button class="page-link" type="button">1</button>
                    </li>
                }

                for (int i = 1; i <= Model.PaginationData.PageCount; i++)
                {
                    if (i == Model.PaginationData.PageIndex)
                    {
                        <li class="page-item active">
                            <button class="page-link" type="button">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" type="submit" onclick="setPageIndex(@i)">@i</button>
                        </li>
                    }
                }

                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex + 1))">Next</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@Model.PaginationData.PageCount)">Last</button>
                </li>
            }
        </ul>
    </div>


    @if (Model.Items.Count == 0)
    {
        <h2>No results</h2>
    }
    <table class="table">
        <thead>
            <tr>
                <th class="col-md-2">Image</th>
                <th class="col-md-2">[@Html.DisplayNameFor(model => model.Items[0].Id)] @Html.DisplayNameFor(model => model.Items[0].Name)</th>
                <th class="col-md-1">@Html.DisplayNameFor(model => model.Items[0].ArtType)</th>
                <th class="col-md-3">@Html.DisplayNameFor(model => model.Items[0].Description)</th>
                <th class="col-md-1">@Html.DisplayNameFor(model => model.Items[0].DateCreated)</th>
                <th class="col-md-1">@Html.DisplayNameFor(model => model.Items[0].Price)</th>
                <th class="col-md-1">@Html.DisplayNameFor(model => model.Items[0].ImageUrl)</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items) {
                <tr>
                    <td class="col-md-2"><img src="~/images/arts/@item.ImageUrl" class="card-img" /></td>
                    <td class="col-md-2">[@Html.DisplayFor(modelItem => item.Id)] @Html.DisplayFor(modelItem => item.Name)</td>
                    <td class="col-md-1">@Html.DisplayFor(modelItem => item.ArtType)</td>
                    <td class="col-md-3">@Html.DisplayFor(modelItem => item.Description)</td>
                    <td class="col-md-1" style="min-width: 120px;">@Html.DisplayFor(modelItem => item.DateCreated)</td>
                    <td class="col-md-1">@Html.DisplayFor(modelItem => item.Price)</td>
                    <td class="col-md-1" style="max-width: 100px; word-wrap: break-word">@Html.DisplayFor(modelItem => item.ImageUrl)</td>
                    <td class="col-md-1">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br />
                        @Html.ActionLink("Details", "Details", new { id = item.Id, viewedFrom = "Art" }, null) <br />
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <ul class="pagination">
            @{
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(1)">First</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex - 1))">Previous</button>
                </li>

                if (Model.PaginationData.PageCount == 0)
                {
                    <li class="page-item active">
                        <button class="page-link" type="button">1</button>
                    </li>
                }

                for (int i = 1; i <= Model.PaginationData.PageCount; i++)
                {
                    if (i == Model.PaginationData.PageIndex)
                    {
                        <li class="page-item active">
                            <button class="page-link" type="button">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" type="submit" onclick="setPageIndex(@i)">@i</button>
                        </li>
                    }
                }

                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex + 1))">Next</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@Model.PaginationData.PageCount)">Last</button>
                </li>
            }
        </ul>
    </div>
}

<script>
    function setPageIndex(pageIndex) {
        document.getElementById("PageIndex").value = pageIndex;
    }
</script>