@model ArtSearchResult

@{
    ViewData["Title"] = "Shop";
}

<h1>Browse Arts</h1>

@using (Html.BeginForm("Index", "Shop", FormMethod.Get))
{
    <div class="col-sm-2 d-inline-block">
        <label class="form-label mt-4">Art Type: </label>
        @Html.DropDownList("ArtTypeId", Model.ArtTypes, "", new { @class = "form-control input-sm" })
    </div>
    <div class="col-sm-2 d-inline-block" style="margin-left: 10px">
        <label class="form-label mt-4">Name: </label>
        @Html.TextBox("SearchString", null, new { @class = "form-control input-sm" })
    </div>
    <div class="col-sm-1 d-inline-block" style="margin-left: 10px">
        <label class="form-label mt-4">Price from: </label>
        @Html.TextBox("PriceFrom", null, new { @class = "form-control input-sm", type = "number", step = "1", min = "0" })
    </div>
    <div class="col-sm-1 d-inline-block" style="margin-left: 10px">
        <label class="form-label mt-4">Price to: </label>
        @Html.TextBox("PriceTo", null, new { @class = "form-control input-sm", type = "number", step = "1", min = "0" })
    </div>

    <p></p>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Search</button>
        @Html.ActionLink("Clear", "Index", "Shop", null, new { @class = "btn btn-secondary btn-md" })
    </div>

    <p></p>

    <input type="hidden" id="PageIndex" name="PageIndex" value="1" />
    <div>
        <ul class="pagination">
            @{
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(1)">First</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex - 1))">Previous</button>
                </li>

                if (Model.PaginationData.PageCount == 0)
                {
                    <li class="page-item active">
                        <button class="page-link" type="button">1</button>
                    </li>
                }

                for (int i = 1; i <= Model.PaginationData.PageCount; i++)
                {
                    if (i == Model.PaginationData.PageIndex)
                    {
                        <li class="page-item active">
                            <button class="page-link" type="button">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" type="submit" onclick="setPageIndex(@i)">@i</button>
                        </li>
                    }
                }

                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex + 1))">Next</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@Model.PaginationData.PageCount)">Last</button>
                </li>
            }
        </ul>

        <p>Total items: @Model.TotalItems</p>

    </div>

    <!-- <br /> -->

    @if (Model.Items.Count == 0)
    {
        <h2>No results</h2>
        <br />
    }
    <table class="table table-borderless">
        @foreach (var item in Model.Items)
        {
            <tr class="row" style="padding: 0px 0px 20px 0px;">
                <td class="col-md-5">
                    <img src="~/images/arts/@item.ImageUrl"  class="card-img" />
                    <p></p>
                </td>
                <td class="col-md-1" style="width: 30px;">

                </td>
                <td class="col-md-4">
                    <p class="lead fw-bold">@Html.DisplayFor(modelItem => item.Name)</p>
                    <p>@Html.DisplayFor(modelItem => item.ArtType) | @Html.DisplayFor(modelItem => item.DateCreated)</p>
                    <p class="text-success lead fw-bold"><strong>@Html.DisplayFor(modelItem => item.Price)</strong></p>
                </td>
                <td class="col-md-2">
                    @Html.ActionLink("Add to cart", "AddToCart", new { id = item.Id }, new { @class = "btn btn-info btn-md" })
                    <div style="margin-top: 5px;">@Html.ActionLink("Details", "Details", "Art", new { id = item.Id, viewedFrom = "Shop" }, new { @class = "btn btn-secondary btn-md" })</div>
                    <br />
                </td>
            </tr>
        }
    </table>

    <div>
        <ul class="pagination">
            @{
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(1)">First</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == 1 || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex - 1))">Previous</button>
                </li>

                if (Model.PaginationData.PageCount == 0)
                {
                    <li class="page-item active">
                        <button class="page-link" type="button">1</button>
                    </li>
                }

                for (int i = 1; i <= Model.PaginationData.PageCount; i++)
                {
                    if (i == Model.PaginationData.PageIndex)
                    {
                        <li class="page-item active">
                            <button class="page-link" type="button">@i</button>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <button class="page-link" type="submit" onclick="setPageIndex(@i)">@i</button>
                        </li>
                    }
                }

                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@(Model.PaginationData.PageIndex + 1))">Next</button>
                </li>
                <li class="page-item @(Model.PaginationData.PageIndex == Model.PaginationData.PageCount || Model.PaginationData.PageCount == 0 ? "disabled" : "")">
                    <button class="page-link" type="submit" onclick="setPageIndex(@Model.PaginationData.PageCount)">Last</button>
                </li>
            }
        </ul>
    </div>
}

<script>
    function setPageIndex(pageIndex) {
        document.getElementById("PageIndex").value = pageIndex;
    }
</script>